<form>
    <!-- This HTML is horrible, sorry -->
    I am a
    <select required ng-model="vm.infoData.activityMultiplier" ng-change="vm.calculateTDEE()">
        <option value="1.2">Sedentary</option>
        <option value="1.375">Lightly active</option>
        <option value="1.55">Moderately active</option>
        <option value="1.725">Very active</option>
        <option value="1.9">Extra active</option>
    </select>
    <input required min="0" max="150" type="number" ng-model="vm.infoData.age" ng-change="vm.calculateTDEE()" /> years old
    <select required ng-model="vm.infoData.gender" ng-change="vm.calculateTDEE()">
        <option value="male">man</option>
        <option value="female">woman</option>
    </select>
    , I weight <input required min="0" max="1000" type="number" ng-model="vm.infoData.weight" ng-change="vm.calculateTDEE()"/>
    <select required ng-model="vm.infoData.useImperial" ng-change="vm.toggleUnits()">
        <option value="false">kg</option>
        <option value="true">lbs</option>
    </select>
    and am
    <div class="height" ng-if="!vm.infoData.useImperial">
        <input required min="0" max="300" type="number" ng-model="vm.infoData.height" ng-change="vm.calculateTDEE()"/>cm tall.
    </div>
    <div class="height" ng-if="vm.infoData.useImperial">
        <input required type="text" ng-model="vm.infoData.height" ng-pattern="vm.imperialHeightPattern" ng-change="vm.calculateTDEE()"/> tall.
    </div>
    <!-- End of terrible HTML -->
</form>

<div class="charts">
    <div class="chart">
        <highchart id="chart-rest" config="vm.restPieConfig"></highchart>
        <div class="macros">
            Proteins <input type="range" min="0" max="100" />
            <br/>
            Carbs <input type="range" min="0" max="100" />
            <br/>
            Fat <input type="range" min="0" max="100" />
        </div>

    </div>
    <div class="chart">
        <highchart id="chart-workout" config="vm.workoutPieConfig"></highchart>
        <div class="macros">
            Proteins: <input type="range" min="0" max="100" />
            <br/>
            Carbs: <input type="range" min="0" max="100" />
            <br/>
            Fat: <input type="range" min="0" max="100" />
        </div>
    </div>
</div>
