<form>
    <!-- This HTML is horrible, sorry -->
    I am a
    <select required ng-model="vm.infoData.activityMultiplier" ng-change="vm.calculateTDEE()">
        <option value="1.2">Sedentary</option>
        <option value="1.375">Lightly active</option>
        <option value="1.55">Moderately active</option>
        <option value="1.725">Very active</option>
        <option value="1.9">Extra active</option>
    </select>
    <input required min="0" max="150" type="number" ng-model="vm.infoData.age" ng-change="vm.calculateTDEE()" /> years old
    <select required ng-model="vm.infoData.gender" ng-change="vm.calculateTDEE()">
        <option value="male">man</option>
        <option value="female">woman</option>
    </select>
    , I weight <input required min="0" max="1000" type="number" ng-model="vm.infoData.weight" ng-change="vm.calculateTDEE()"/>
    <select required ng-model="vm.infoData.useImperial" ng-change="vm.toggleUnits()">
        <option value="false">kg</option>
        <option value="true">lbs</option>
    </select>
    and am
    <div class="height" ng-if="!vm.infoData.useImperial">
        <input required min="0" max="300" type="number" ng-model="vm.infoData.height" ng-change="vm.calculateTDEE()"/>cm tall.
    </div>
    <div class="height" ng-if="vm.infoData.useImperial">
        <input required type="text" ng-model="vm.infoData.height" ng-pattern="vm.imperialHeightPattern" ng-change="vm.calculateTDEE()"/> tall.
    </div>
     My TDEE is <span class="calorie-number">{{ vm.tdee }}</span> kcal.
    <!-- End of terrible HTML -->
</form>

<div class="charts">
    <div class="chart">
        <highchart id="chart-rest" config="vm.restPieConfig"></highchart>
        <div class="tdee-modifier">
            <input type="number" required min="-50" max="50" ng-model="vm.dietModifiers.rest" ng-change="vm.calculateTDEE()"/>
            % <span ng-if="vm.dietModifiers.rest <= 0">below</span>
            <span ng-if="vm.dietModifiers.rest > 0">over</span> TDEE : <span class="calorie-number">{{ vm.getDailyCalories('rest') }}</span> kcal
        </div>
        <div class="macros">
            <div class="macro-slider">
                <span>Proteins: {{vm.macrosPercentages.rest.proteins}}%</span>
                <input type="range" min="0" max="100" ng-model="vm.macrosPercentages.rest.proteins" ng-change="vm.changeMacros('rest', 'proteins')"/>
            </div>
            <div class="macro-slider">
                <span>Carbs: {{vm.macrosPercentages.rest.carbs}}%</span>
                <input type="range" min="0" max="100" ng-model="vm.macrosPercentages.rest.carbs" ng-change="vm.changeMacros('rest', 'carbs')"/>
            </div>
            <div class="macro-slider">
                <span>Fat: {{vm.macrosPercentages.rest.fat}}%</span>
                <input type="range" min="0" max="100" ng-model="vm.macrosPercentages.rest.fat" ng-change="vm.changeMacros('rest', 'fat')"/>
            </div>
        </div>

    </div>
    <div class="chart">
        <highchart id="chart-workout" config="vm.workoutPieConfig"></highchart>
        <div class="tdee-modifier">
            <input type="number" required min="-50" max="50" ng-model="vm.dietModifiers.workout" ng-change="vm.calculateTDEE()"/>
            % <span ng-if="vm.dietModifiers.rest <= 0">below</span>
            <span ng-if="vm.dietModifiers.rest > 0">over</span> TDEE : <span class="calorie-number">{{ vm.getDailyCalories('workout') }}</span> kcal
        </div>
        <div class="macros">
            <div class="macro-slider">
                <span>Proteins: {{vm.macrosPercentages.workout.proteins}}%</span>
                <input type="range" min="0" max="100" ng-model="vm.macrosPercentages.workout.proteins" ng-change="vm.changeMacros('workout', 'proteins')"/>
            </div>
            <div class="macro-slider">
                <span>Carbs: {{vm.macrosPercentages.workout.carbs}}%</span>
                <input type="range" min="0" max="100" ng-model="vm.macrosPercentages.workout.carbs" ng-change="vm.changeMacros('workout', 'carbs')"/>
            </div>
            <div class="macro-slider">
                <span>Fat: {{vm.macrosPercentages.workout.fat}}%</span>
                <input type="range" min="0" max="100" ng-model="vm.macrosPercentages.workout.fat" ng-change="vm.changeMacros('workout', 'fat')"/>
            </div>
        </div>
    </div>
</div>
